# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
.venv/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Python dotenv files
*.env

# Coverage / test
.coverage
htmlcov/
.pytest_cache/